body {
  font-size: large;
  max-width: 1500px;
}

h1 {
  font-size: smaller;
}

img {
  max-width: 100%;
}

figure {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 20px 0px;
  background-clip: content-box;
}

@media screen and (min-width: 900px) {
  figure {
    max-width: 800px;
    max-height: 600px;
    display: inline-flex;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color: aqua;
    font-size: x-large;
  }
}