ol{
background-color: yellow;
}
.par{
color: green;
}
.primo{
text-transform: uppercase;
}
.headings{
color: red;    

}
.font-italy{
font-size: 40px;
padding: 1px;  
}

li{
    font-size: 20px;
}
.list-italy{
font-weight: 400;
}

.linguagens{
color :blue;
}
.java{
    color: pink;
}