ol{
background-color: yellow;
}
.par{
color: green;
}
.primo{
text-transform: uppercase;
}
.headings{
color: red;    

}
.font-italy{
font-size: 40px;
padding: 1px;  
}

li{
    font-size: 20px;
}
.list-italy{
font-weight: 400;
}

.linguagens{
color :blue;
}
.java{
    color: pink;
}
.stack_theme:hover{
    color: orange;
    font-weight: 400;
}
.w3s_theme:hover{
    color: green;
    font-weight: 400;
}
.developer_theme:hover{
    color:black;
    font-weight: 400;
}
.devdocs_theme:hover{
    color: yellow;
    font-weight: 400;
}
.trybe_theme:hover{
    color: green;
    font-weight: 400;
}
