* {
  margin: 0;
  font-family: sans-serif;
}

.title {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  margin: 10px 10px;
}

.pokemon_cotainer {
  display: flex;
  background-color: rgba(211, 211, 211, 0.904);
  color: white;
  align-items: center;
  justify-content: space-evenly;
  min-width: 25%;
  margin: 10px 2px;
  border: 4px solid gray;
  border-radius: 1ch;
}

.image {
  width: 150px;
}

.pokemon_cotainer:hover{
  background-color: gray;
}

@media screen and (max-width: 720px) {
  .pokemon_cotainer {
    min-width: 45%;
  }
}

@media screen and (max-width: 500px) {
  .pokemon_cotainer {
    min-width: 85%;
  }
}